body{background-color:#e9ebee ;}.navbar-expand{-sm|-md|-lg|-xl}.main{margin-top: 70px;}
.box-e{padding-top: 104px; }hr {height: 2px; background-color:#e9ebee;}button{cursor:pointer;border:0px;background-color: #563d7c; color:#ffffff;}
/*open.php*/.load_o{width:25px;height:25px;}.comments-list{list-style: none;}.comments-container{list-style: none; background: #ffffff;margin-top: 10px;}
.comments-list{list-style: none;}.comment-head{color:#007bff;}.comment-box{border: 2px solid; border-color:#007bff; border-radius: 2px;margin-top:10px;}
.name{display:inline;}.tiempo{display:inline;}.comment-head{display: block;}.load_o{width:auto;height:25px;}
